{% trans_default_domain 'FOSUserBundle' %}


{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="submit" value="Valider" />
        <br/>
        <br/>
         <button align="rigth"><a href="{{path('fos_user_security_login')}}">Se connecter</a></button>
    </div>
{{ form_end(form) }}
